---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

---

<Layout title="Inicio | MundoCode">
	<Header/>

        <section class="bg-center bg-no-repeat bg-[url('http://localhost:4321/image/hero.jpg')] bg-gray-700 bg-blend-multiply">
            <Hero/>
        </section>
        <section>
            <h1 class="text-center text-2xl py-5">Blog</h1>
            <div>
              
            </div>
        </section>
</Layout>