---

---

<footer class="relative z-10 bg-gray-900 pt-20 pb-10 lg:pt-[120px] lg:pb-20">
    <div class="container mx-auto">
        <div class="flex flex-wrap">
        <div class="w-full px-4 sm:w-2/3 lg:w-3/12">
            <div class="mb-10 w-full">
            <a href="javascript:void(0)" class="mb-6 inline-block max-w-[160px]">
                <img src="/image/MundoCode.png" alt="logo" class="max-w-full"/>
            </a>
            <p class="text-white mb-7">
            Mi nombre es Juan Pablo Patino Lopez, tengo 24 años de edad y soy de 
            Colombia. He aprendido por cuenta propia y aún lo sigo haciendo. Esta 
            es la única web que he podido realizar.
            </p>
            </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
            <div class="mb-10 w-full">
            <h4 class="text-white mb-9 text-lg font-semibold">Ultimos Posts</h4>
            <ul>
                <li>
                <a href="javascript:void(0)" class="text-body-color hover:text-primary mb-2 inline-block text-white leading-loose" >
                    Proximamente
                </a>
                </li>
            </ul>
            </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
            <div class="mb-10 w-full">
            <h4 class="text-white mb-9 text-lg font-semibold">Company</h4>
            <ul>
                <li>
                <a href="/about" class="text-body-color hover:text-primary mb-2 inline-block text-white leading-loose">
                    Sobre mi
                </a>
                </li>
                <li>
                <a href="jhttps://discord.gg/uSjZvCQDpc" class="text-body-color hover:text-primary mb-2 inline-block text-white leading-loose">
                    Contacto
                </a>
                </li>
            </ul>
            </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
            <div class="mb-10 w-full">
            <h4 class="text-white mb-9 text-lg font-semibold">Mas Enlaces</h4>
            <ul>
                <li>
                <a href="/blog" class="text-body-color hover:text-primary mb-2 inline-block text-white leading-loose" >
                    Blog
                </a>
                </li>
                <li>
                <a href="https://juanppdev.vercel.app/" class="text-body-color hover:text-primary mb-2 inline-block text-white leading-loose" >
                    Portafolio
                </a>
                </li>
            </ul>
            </div>
        </div>
        <div class="w-full px-4 sm:w-1/2 lg:w-3/12">
            <div class="mb-10 w-full">
            <h4 class="text-white mb-9 text-lg font-semibold">Sigueme en:</h4>
            <div class="mb-6 flex items-center">
                <a href="https://twitter.com/MundoCode_" class="text-white hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                >
                <svg width="16" height="12" viewBox="0 0 16 12" class="fill-current">
                    <path d="M14.2194 2.06654L15.2 0.939335C15.4839 0.634051 15.5613 0.399217 15.5871 0.2818C14.8129 0.704501 14.0903 0.845401 13.6258 0.845401H13.4452L13.3419 0.751468C12.7226 0.258317 11.9484 0 11.1226 0C9.31613 0 7.89677 1.36204 7.89677 2.93542C7.89677 3.02935 7.89677 3.17025 7.92258 3.26419L8 3.73386L7.45806 3.71037C4.15484 3.61644 1.44516 1.03327 1.00645 0.587084C0.283871 1.76125 0.696774 2.88845 1.13548 3.59296L2.0129 4.90802L0.619355 4.20352C0.645161 5.18982 1.05806 5.96477 1.85806 6.52838L2.55484 6.99804L1.85806 7.25636C2.29677 8.45401 3.27742 8.94716 4 9.13503L4.95484 9.36986L4.05161 9.93346C2.60645 10.8728 0.8 10.8024 0 10.7319C1.62581 11.7652 3.56129 12 4.90323 12C5.90968 12 6.65806 11.9061 6.83871 11.8356C14.0645 10.2857 14.4 4.41487 14.4 3.2407V3.07632L14.5548 2.98239C15.4323 2.23092 15.7935 1.8317 16 1.59687C15.9226 1.62035 15.8194 1.66732 15.7161 1.6908L14.2194 2.06654Z"/>
                </svg>
                </a>
                <a
                href="https://www.youtube.com/@juanppdev"
                class="text-white hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                >
                <svg width="16" height="12" viewBox="0 0 16 12" class="fill-current">
                    <path
                    d="M15.6645 1.88018C15.4839 1.13364 14.9419 0.552995 14.2452 0.359447C13.0065 6.59222e-08 8 0 8 0C8 0 2.99355 6.59222e-08 1.75484 0.359447C1.05806 0.552995 0.516129 1.13364 0.335484 1.88018C0 3.23502 0 6 0 6C0 6 0 8.79263 0.335484 10.1198C0.516129 10.8664 1.05806 11.447 1.75484 11.6406C2.99355 12 8 12 8 12C8 12 13.0065 12 14.2452 11.6406C14.9419 11.447 15.4839 10.8664 15.6645 10.1198C16 8.79263 16 6 16 6C16 6 16 3.23502 15.6645 1.88018ZM6.4 8.57143V3.42857L10.5548 6L6.4 8.57143Z"
                    />
                </svg>
                </a>

                <a href="https://www.instagram.com/juanppdev/" class="text-white hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                >
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a>

                

                <a href="https://github.com/juanppdev" class="text-white hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                >
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                </a>

            </div>
            <p class="text-body-color text-white">&copy; 2023 MundoCode</p>
            </div>
        </div>
        </div>
    </div>
    <div>
        <span class="absolute left-0 bottom-0 z-[-1]">
        <svg width="217" height="229" viewBox="0 0 217 229" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z" fill="url(#paint0_linear_1179_5)"/>
            <defs>
            <linearGradient id="paint0_linear_1179_5" x1="76.5" y1="281" x2="76.5" y2="1.22829e-05" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3056D3" stop-opacity="0.08" />
                <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
            </linearGradient>
            </defs>
        </svg>
        </span>
        <span class="absolute top-10 right-10 z-[-1]">
        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M37.5 -1.63918e-06C58.2107 -2.54447e-06 75 16.7893 75 37.5C75 58.2107 58.2107 75 37.5 75C16.7893 75 -7.33885e-07 58.2107 -1.63918e-06 37.5C-2.54447e-06 16.7893 16.7893 -7.33885e-07 37.5 -1.63918e-06Z"
            fill="url(#paint0_linear_1179_4)"
            />
            <defs>
            <linearGradient id="paint0_linear_1179_4" x1="-1.63917e-06" y1="37.5" x2="75" y2="37.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#13C296" stop-opacity="0.31" />
                <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
            </linearGradient>
            </defs>
        </svg>
        </span>
    </div>
    </footer>